/* Jonathan Ali Corado h
    18001211 */

#circulo{
    width: 55%;
    height: 300px;
    background-color: blue;
    border-color: black;
    border: 3px solid black;
    position: relative;
    left: -120px;
    top: 40px;
    margin: auto;    
}




div H1{
    color:rgb(0, 0, 0);
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    width: 100%;
    font-family: Comic Sans MS, Arial , Tahoma;
}
div te{
    color:rgb(0, 0, 0);
    text-align: justify;
    font-size: 20px;
    width: 100%;
    font-family: Comic Sans MS, Arial , Tahoma;
}

select {
    width: 150px;
}



.container{
    width: 100%;
    max-width: 1080px;
}